/* Variables */
/* Global & Resets */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
ul,
p {
  margin: 0;
  padding: 0; }

body {
  background-color: #efefef;
  font-size: 0.9em;
  line-height: 1.4em;
  letter-spacing: 0.04em;
  color: #777;
  font-family: "Helvetica", Arial, sans-serif; }

a {
  color: #ccc;
  text-decoration: none; }
  a:hover {
    color: #ccc; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

/* Headers & Headings */
header {
  margin: 0 auto; }
  header h1 img {
    margin: 0 auto;
    display: block;
    max-width: 250px; }

h2 {
  font-size: 1.8em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: center; }

h3 {
  font-size: 1.6em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #21003a;
  font-weight: 400;
  padding: 40px 0;
  margin: 0;
  clear: both; }

nav {
  width: 100%;
  text-align: center; }
  nav li {
    display: inline;
    padding: 0 5px;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    text-transform: uppercase; }
    nav li a {
      color: #21003a; }
      nav li a:hover {
        color: #21003a; }

.wrap {
  padding: 0 10%;
  max-width: 1600px;
  margin: 0 auto; }
  .wrap section {
    border-bottom: 1px solid #21003a;
    padding: 2% 0; }
  .wrap:last-child {
    border: none; }

.title {
  font-weight: bold; }

.small-em {
  font-size: 0.9em;
  padding-bottom: 10px;
  display: block; }

.bull {
  list-style: disc;
  list-style-position: inside; }

.center {
  text-align: center;
  float: none;
  display: block;
  margin: 0 auto; }

/* Specifics */
header {
  background: url(https://static.pexels.com/photos/7919/pexels-photo.jpg) #fff no-repeat top center fixed;
  min-height: 500px;
  padding: 10px 0; }
  header h2 {
    color: #21003a;
    padding: 30px 0; }
  header #overview {
    max-width: 50%;
    margin: 30px auto;
    display: block; }

#portfolio .col-one-third {
  margin-bottom: -5px; }

.overlay {
  display: block;
  position: absolute;
  height: 15%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.8); }
  .overlay p {
    color: #efefef;
    padding: 2% 2% 1% 2%;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em; }
    .overlay p span {
      font-size: 0.7em; }

/* Skillbars */
.skills {
  list-style: none;
  padding-top: 30px; }

.skills li {
  margin-bottom: 30px;
  background: #21003a;
  height: 15px;
  position: relative;
  width: 90%; }

.skills li strong {
  position: relative;
  top: -20px; }

.skills span {
  height: 15px;
  background: #cbe900;
  position: absolute; }

.html5, .css3, .sass, .js, .angjs, .bootstrap, .adobe, .responsive, .ux, .wp, .other, .email {
  -moz-animation: skillbar 2s ease-out;
  -webkit-animation: skillbar 2s ease-out; }

.html5 {
  width: 90%; }

.css3 {
  width: 90%; }

.sass {
  width: 80%; }

.js {
  width: 75%; }

.angjs {
  width: 40%; }

.bootstrap {
  width: 80%; }

.adobe {
  width: 90%; }

.responsive {
  width: 90%; }

.ux {
  width: 75%; }

.wp {
  width: 65%; }

.other {
  width: 80%; }

.email {
  width: 70%; }

@-moz-keyframes skillbar,
@-webkit-keyframes skillbar {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }
.exp-item {
  margin: 20px 0; }

/* Grid-ish Items & Media Queries*/
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

.col-two-thirds,
.col-one-half,
.col-one-third {
  width: 100%;
  display: inline-block;
  float: left;
  position: relative; }

@media only screen and (min-width: 768px) {
  .col-two-thirds {
    width: 66.66%; }

  .col-one-half {
    width: 50%; }

  .col-one-third {
    width: 33.33%; } }
@media only screen and (min-width: 1025px) {
  .overlay {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
