/* Variables */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
ul,
p {
  margin: 0;
  padding: 0; }

body {
  background: url(../img/portfolio-bgd-img.jpg) #fff no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.04rem;
  color: #333;
  font-family: "Helvetica", Arial, sans-serif; }

a {
  color: #ccc; }

h1 {
  margin: 0; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.header {
  margin: 0 auto; }
  .header__logo {
    margin: 0 auto;
    display: block;
    max-width: 250px;
    padding: 1rem 0; }
  .header__overview {
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    padding: 2rem 1rem;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto; }

h3 {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #21003a;
  font-weight: 400;
  padding: 2rem 0;
  margin: 0; }

.main-nav {
  width: 100%;
  text-align: center; }
  .main-nav__link {
    display: inline-block;
    padding: 0.25rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 300; }
    .main-nav__link a {
      color: #21003a;
      text-decoration: none;
      padding: 0.5rem; }
      .main-nav__link a:hover {
        background-color: #21003a;
        color: #cbe900; }

.info-section {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6); }
  .info-section:last-child {
    border: none; }

.skills-tools__wrapper {
  display: flex;
  justify-content: space-evenly; }

.skills-tools__list {
  list-style: disc;
  margin-left: 1.5rem; }

.experience-item {
  padding: 2rem 0; }
  .experience-item__date {
    font-size: 0.9rem;
    padding-bottom: 0.75rem; }
  .experience-item__list {
    list-style: disc;
    margin-left: 1.5rem; }
  .experience-item li {
    line-height: 1.4rem;
    padding: 0.1rem 0; }

.about p {
  padding: 1rem 0; }

.contact__label {
  display: block;
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem; }

.contact__input input,
.contact__input textarea {
  padding: 1rem;
  border: solid 1px #777;
  outline: 0;
  background: #fff;
  width: 100%;
  display: block; }
  .contact__input input:hover,
  .contact__input textarea:hover {
    border-color: #ccc; }

.contact__input input {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; }

.contact__button {
  width: 100%;
  padding: 0.75rem 1.25rem;
  background: #21003a;
  border: 0;
  font-size: 1rem;
  color: #fff;
  display: block;
  margin-top: 1.5rem;
  transition: background-color 0.2s ease-in-out; }
  .contact__button:hover {
    background-color: #cbe900; }

.contact .success {
  color: #53a306; }

.contact .error {
  color: #f00; }

.contact-info {
  margin-top: 20px; }
  .contact-info a {
    color: #21003a;
    display: block; }
  .contact-info__social {
    display: flex;
    justify-content: center; }
    .contact-info__social img {
      max-width: 30px; }
    .contact-info__social a {
      margin: 0.5rem; }
